html,
body {
    background: #eee;
    margin: 0;
    padding: 4px 0px 0px 0px;
}

.paper {
    background: #fff;
    box-shadow: 0 0 3px 3px #d5d5d5;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 30px 50px;
    width: 414px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.photo {
    text-align: center;
}

img {
  height: 130px;
}

.textblock {
    padding: 10px;
}
